<template>
  <div class="navbar navbar-dark navbar-expand-md" id="nav">
    <div class="container-fluid align-items-center">
      <a class="navbar-brand" href="#">File Server</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon" />
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link class="nav-link" to="/">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/upload">Upload</router-link>
          </li>
          <!-- <li class="nav-item"> -->
          <!--   <router-link class="nav-link" to="/about">About</router-link> -->
          <!-- </li> -->
        </ul>

      </div>
    </div>
  </div>
  <router-view/>
</template>

<script>
  import { defineComponent } from "vue";

export default defineComponent({
    name: "Nav",
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
